@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ysabeau+Infant:ital,wght@1,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;700;800;900&family=Inria+Sans:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ysabeau+Infant:ital,wght@1,1&display=swap');
/* Reset some default styles */

body,
h1,
h2,
h3,
p,
ul,
li,
form {
    margin: 0;
    padding: 0;



}

body {
    font-family: Arial, sans-serif;



}

.main {
    background-image: url('hero.jpg');
    background-size: cover;
    width: auto;
}

/* Header styles */

header {
    background-color: rgba(0, 0, 0, 0.3);
    color: #f9f6f6;
    padding: 5rem 0;

}

nav ul {
    list-style: none;
    text-align: right;
}

nav ul li {
    display: inline;
    margin-right: 4rem;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 2rem;
}

#home {

    height: 70rem;
}

/* Hero section styles */
.hero {


    color: #000000;
    padding: 10rem 0;
}



.hero-heading {
    display: flex;
    margin-left: 25rem;
    /* width: 66.7rem; */
    height: 30rem;

    line-height: 105pt;

}

.hero-para {
    display: flex;
    margin-left: 25rem;
    /* width: 69.3rem; */
    margin-top: 1rem;

}



.hero-para p {
    color: white;
    font-size: 2.2rem;
    font-family: 'Inria Sans', sans-serif;
}

.hero-btn {
    display: flex;
    margin-left: 50%;
    margin-right: 50%;
    font-size: 2rem;
    width: 50rem;
    align-items: center;

}

h1 {

    font-family: 'Inknut Antiqua', serif;
    color: #ffffff;
    font-weight: 900;

}

.cta-button {

    display: inline-block;
    background-color: #f00;
    /* Adjust to your brand color */
    color: #fff;
    padding: 2rem 2rem;
    text-decoration: none;
    border-radius: 0.8rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #d00;
    /* Adjust to a slightly different shade for hover effect */
}



/* Services section styles */


.service {
    /* width: fit-content; */
    margin-bottom: 3rem;


}

#services {
    padding: 50px 0;
    background-image: linear-gradient(to bottom, rgb(231, 233, 231), black);

    border-radius: 20rem 0rem 0.2rem 0rem;
    box-shadow: 0 0.5rem 0.8rem 0 rgba(0, 0, 0, 0.3);


}

.service-head {
    margin-left: 30rem;
    font-size: 2.5rem;

    margin-top: 6rem;
}

.service-head h1 {
    color: rgb(246, 112, 17);
}




.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 25%;
    border-radius: 5rem 5rem 0rem 0rem;
    position: relative;
    background-color: #ffffff;
    margin-top: 2rem;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container1 {
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    height: 10rem;
    background-color: #352F44;
    border-radius: 0rem 5rem 0rem 0rem;


}

.container1 h2 {
    margin-top: 3.5rem;
    font-size: 2rem;
    color: #fff;
}

.icon {
    margin-top: 2rem;
    color: #efec69;
   


}

.container2 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    margin-left: 0.5rem;
    margin-top: 2.5rem;
    padding: 1rem;
}

.container2 p {
    margin-top: 1rem;
    font-size: 1.5rem;
}


.card-main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 3rem;


}

.project{
    margin-bottom: 3rem;
    height: 162rem;
    background-image: linear-gradient(to bottom, rgb(219, 235, 237),rgb(42, 108, 117), black);
}

.project-head{
   
    margin-top: 2rem;
    text-align: center;
    font-size: 3rem;
  
}

.project-head h1 {
    color: rgb(246, 112, 17);
}
.project-head p {
    font-size: 2.8rem;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.flip-main{

    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
    gap: 3rem;
    margin-left: 30rem;
    

}


.flip-card {
    background-color: transparent;
    width: 40rem;
    height: 20rem;
    border: 0.1rem solid #acecf1;
    perspective: 100rem; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }

  .flip-card-front img {
    width:100%;
    height:100%;

  }

  /* Style the back side */
  .flip-card-back {
    background-color: rgb(215, 220, 225);
    color: rgb(1, 1, 1);
    transform: rotateY(180deg);
    font-weight: bold;
    font-size: 1rem;
  }

  .flip-card-back h1{
    color: orange;
  }


/* About section styles */
.about-main {
    background-color: #000000;

}

.about-main h1 {
    color: rgb(246, 112, 17);
}

#about {
    padding: 50px 0;
    text-align: center;
    border-radius: 0rem 20rem 0.2rem 0rem;
    background-color: #ffffff;

}

/* .image {
    display: flex;
    justify-content: flex-end;
    margin-right: 20rem;
    margin-top: 10rem;


} */
.image {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}




.image img {
    box-shadow: 0 2rem 1.6rem 0 rgba(0, 0, 0, 0.2);
    height: 25rem;
    width: 50rem;

}

/* Contact section styles */
#contact {
   
    color: rgb(246, 112, 17);
    padding: 0.5rem 0;
    text-align: center;
    font-size: 3rem;
    background-color: rgba(7, 113, 129, 0.1);

}

#contact h1{
    color: rgb(246, 112, 17);
}

.form {
    margin-top: 3rem;


}

.contact-form {

    max-width: 50rem;
    margin: 0 auto;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem;
    border: 0.1rem solid #060000;
    border-radius: 0.5rem;
}

button[type="submit"] {
    background-color: #f00;
    /* Adjust to your brand color */
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #d00;
    /* Adjust to a slightly different shade for hover effect */
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 5rem 0;
    text-align: center;
}

.contact-info,
.social-links {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    gap: 1rem;
    justify-content: center;


}

.social-links a {
    margin: 0 1rem;

}

.social-links img {
    width: auto;
}





/* Responsive design for mobile */
@media only screen and (max-width: 600px) {

    html {
        font-size: 62%;
    }

    header {

        padding: 1.3rem;

    }

    nav ul {
        text-align: center;
        margin-top: 1rem;
    }

    nav ul li {
        display: block;
        margin: 1rem 0;
    }

    .hero {
        padding: 5rem 0;
        background-size: cover;


    }

    .hero-heading {
        margin-left: 2rem;
        width: auto;
        text-align: center;
        line-height: 75pt;
    }

    .hero-para {
        width: auto;
        margin-left: 2rem;
        text-align: center;

    }

    .hero-para p {
        font-size: 3rem;

    }

    h1 {
        font-size: 3.5rem;

    }

    .hero-btn {

        margin-left: 40%;
        margin-right: 50%;
        margin-top: 3.5rem;

    }


    .cta-button {
        display: inline-block;

    }

    /*about*/

    .about-main h1 {
        color: #f15415;

    }

    .about-main p {
        font-size: 2rem;
        color: #000000;
        font-weight: 700;
    }


    .team-member p {
        margin-top: 5rem;
        font-size: 1.8rem;
        font-weight: 100;


    }

    #services {


        border-radius: 0rem 0rem 0rem 0rem;


    }

    .service-head {
        margin-left: 0rem;

        text-align: center;
        margin-top: 3rem;
    }

    .service-head h1 {
        color: #f15415;
        font-size: 3.5rem;
        text-align: center;

    }

    .card-main {
        display: flex;
        flex-wrap: wrap;
        margin-left: 7rem;
        width: 75%;

    }


    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: fit-content;
    }

    .fa-brands {
        margin-top: 2rem;
    }


    .container2 p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }




    #contact {
        padding: 0.5rem 0;
        text-align: center;
        font-size: 2.5rem;
        background-color: rgba(7, 113, 129, 0.1);

    }

    .form {
        margin-top: 3rem;


    }

    .contact-form {

        max-width: 50rem;
        margin: 0 auto;
    }

    input[type="text"],
    input[type="email"],
    textarea {


        width: 30rem;

    }

    
.project{
    margin-bottom: 3rem;
   
    background-image: linear-gradient(to bottom, rgb(219, 235, 237),rgb(42, 108, 117), black);
}



.flip-main{

    display: flex;
    margin-left: 2rem;
    }
}

/* Adjust styles for contact form on smaller screens */



@media only screen and (min-width:600px) {

    html {
        font-size: 70%;
    }

    nav ul {
        text-align: center;
        margin-top: 2rem;
    }

    nav ul li {
        display: block;
        margin: 1rem 0;
    }



    .hero-heading {
        margin-left: 0rem;
        height: fit-content;
        line-height: 75pt;
    }

    .hero-heading h1 {
        font-size: 3rem;
        text-align: center;

    }

    .hero-para {
        width: auto;
        margin-left: 2rem;
        text-align: center;

    }

    .hero-para p {
        font-size: 2.3rem;

    }



    .hero-btn {

        margin-left: 38%;
        margin-right: 50%;
        margin-top: 3.5rem;

    }


    .about-main h1 {

        font-size: 3rem;
    }

    .about-main p {

        font-size: 2rem;
    }



    .team-member p {
        margin-top: 5rem;

        font-size: 1.8rem;
        font-weight: 100;


    }

    #services {


        border-radius: 0rem 0rem 0rem 0rem;


    }

    .service-head {
        margin-left: 0rem;
        font-size: 3rem;

        margin-top: 3rem;
    }

    .service-head h1 {
       
        text-align: center;

    }

    .service-head p {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 700;
    }




    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: fit-content;
        border-radius: 5rem 5rem 0rem 0rem;

        background-color: #ffffff;
        margin-top: 2.5rem;

    }

    .card-main {
        display: flex;
        flex-wrap: wrap;
        margin-left: 7rem;
        width: 75%;


    }

#about {
   
    border-radius: 0rem 0rem 0rem 0rem;
  
}


.flip-main{

    display: flex;
    margin-left: 10rem;
    }
}





@media only screen and (min-width:768px) {

    html {
        font-size: 70%;
    }


    .hero-heading h1 {
        font-size: 5rem;
        text-align: center;

    }

    .hero-para {
        width: auto;
        margin-left: 5rem;

    }

    .hero-para p {

        font-size: 3rem;
        margin-top: 4rem;
        text-align: center;
    }


    .about-main p {
        font-size: 2.5rem;
        color: #000000;
        font-weight: 700;
    }

  
    .team-member p {
        margin-top: 5rem;
        color: #000000;
        font-size: 2.3rem;
        font-weight: 100;


    }
    
.flip-main{

    display: flex;
    margin-left: 15rem;
    }


}



@media only screen and (min-width:992px) {

    /* Header styles */
    header {

        padding: 5rem 0;

    }

    nav ul {

        text-align: right;
    }

    nav ul li {
        display: inline;
        margin-right: 4rem;

    }

    .hero-btn {
       
        margin-left: 40%;
        margin-right: 50%;

    }


    .card-main {
        display: flex;
        flex-wrap: wrap;

        align-items: center;

        width: auto;
 }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 45%;
        border-radius: 5rem 5rem 0rem 0rem;
        position: relative;
        background-color: #ffffff;
        margin-top: 5rem;


    }
    
    #about h1 {
        font-size: 4.5rem;
    }

    #about p {
        margin-top: 4rem;

    }

   



    .image img {
        box-shadow: 0 2rem 1.6rem 0 rgba(0, 0, 0, 0.2);
        height: 50rem;
        width: 60rem;

    }

    .team-member p {
        font-size: 2.5rem;


    }
    .flip-main{

        display: flex;
        flex-wrap: wrap;
        margin-top: 10rem;
        gap: 3rem;
        margin-left: 2rem;
        
    
    }

    .project{
        height: 100em;
       
        background-image: linear-gradient(to bottom, rgb(219, 235, 237),rgb(42, 108, 117), black);
    }
    

 }


@media only screen and (min-width:1200px) {

   


    nav ul li a {
      
        font-size: 2.5rem;
    }

  

    .hero-heading {
        display: flex;
        margin-left: 30rem;
        width: 66.7rem;
        height: 37rem;
        margin-top: -4rem;
        line-height: 105pt;

    }

    .hero-para {

        margin-left: 30rem;
        width: 69.3rem;

        margin-top: 1rem;

    }

    .hero-heading h1 {

        font-size: 7rem;
        color: #fff;

    }

    .hero-para p {
        color: white;
        font-size: 2.5rem;
        font-family: 'Inria Sans', sans-serif;

    }

    .hero-btn {
        display: flex;
        margin-left: 55rem;

        font-size: 2rem;
        width: 50rem;
        align-items: center;

    }

   

  
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.4s;
        width: 25%;
        border-radius: 5rem 5rem 0rem 0rem;
        position: relative;
        background-color: #ffffff;
        margin-top: 5rem;


    }

   
    .card-main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 5rem;
        gap: 3rem;



    }

    #about {

        border-radius: 0rem 20rem 0.2rem 0rem;


    }

   

    button[type="submit"] {
       font-size: 2rem;
    }

    .image img{
       width: 100rem;
    }

    .flip-main{

        display: flex;
        flex-wrap: wrap;
        margin-top: 10rem;
        gap: 5rem;
        margin-left: 22rem;
        padding-top: 2rem;
        
        
    
    }
    .flip-card{
        margin-top: 3rem;
    }

    .project{
        height: 120rem;
        
        background-image: linear-gradient(to bottom, rgb(219, 235, 237),rgb(42, 108, 117), black);
    }
    

 }

   